<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title>Borrar libro</title>
</head>
<body>
    <form action="{% url 'libro_delete' pk=libro.pk %}" method="POST">
        <h1>¿Estas seguro de borrar el libro {{ libro.titulo }}?</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Confirm">Dale caña</button>
    </form>
</body>
</html>