<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title>Detalles</title>
</head>
<body>
    <h1>Titulo</h1>
    <p> {{ libro.titulo }}</p>

    <h2>Autor</h2>
        {% for autor in libro.autor.all %}
            <p> {{ autor.nombre }}</p>
        {% endfor %}

    <h2>Editorial</h2>
    <p> {{ libro.editorial }}</p>

    <h2>Rating</h2>
    <p> {{ libro.rating }}</p>

    <h2>Fecha de publicación</h2>
    <p> {{ libro.fecha_publicacion }}</p>

    <h2>Género</h2>
    <p> {{ libro.genero }}</p>

    <h2>ISBN</h2>
    <p> {{ libro.isbn }}</p>

    <h2>Resumen</h2>
    <p> {{ libro.resumen }}</p>

    <h2>Disponibilidad</h2>
    <p> {{ libro.disponibilidad }}</p>

    <h2>Portada</h2>
    <p> {{ libro.portada }}</p>
</body>
</html>