<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Libros</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
</head>
<body>
    <h4>Libros aun Reservados</h4>
        {% for libro in libros_disponibles_usuario %}
            <li>
                <h2><a href="{% url 'libro_details' pk=libro.libro.pk%}">{{ libro.libro }}</a></h2>
                {% if libro.libro %}
                    <img src="{{ libro.libro.portada.url }}">
                {% endif %}
                <a href="{% url 'libro_devolver' pk=libro.libro.pk%}" role="button">Devolver</a>
            </li>
        {% empty %}
            <li>No hay libros por mostrar.</li>
        {% endfor %}


    <h4>Libros Devueltos</h4>
        {% for libro in libros_devueltos_usuario %}
            <li>
                <h2><a href="{% url 'libro_details' pk=libro.libro.pk%}">{{ libro.libro }}</a></h2>
                {% if libro.libro %}
                    <img src="{{ libro.libro.portada.url }}">
                {% endif %}
            </li>
        {% empty %}
            <li>No hay libros por mostrar.</li>
        {% endfor %}
    
</body>
</html>