{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Libros</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="contenedorNotaPrestamos">
        <p class="notaPrestamos"><u>NOTA:</u> Los préstamos caducan a los 15 días</p>
    </div>
    <h1>Libros Reservados</h1>
        {% for libro in libros_disponibles_usuario %}

                {% if fecha_hoy > libro.fechaDevolucion %}
                    <h4><a class="prestamoRetraso" href="{% url 'libro_details' pk=libro.libro.pk%}">{{ libro.libro }}</a></h4>
                {% else %}
                    <h4><a href="{% url 'libro_details' pk=libro.libro.pk%}">{{ libro.libro }}</a></h4>
                {% endif %}

                {% if libro.libro %}
                    <img src="{{ libro.libro.portada.url }}">
                    <br>
                {% endif %}
                <br>
                <a href="{% url 'libro_devolver' pk=libro.libro.pk%}" role="button">Devolver</a>
                <br><br>
                <hr>

        {% empty %}
            <li>No hay libros por mostrar.</li>
        {% endfor %}
            <br><br>

    <h1>Libros Devueltos</h1>
        {% for libro in libros_devueltos_usuario %}
                <h4><a href="{% url 'libro_details' pk=libro.libro.pk%}">{{ libro.libro }}</a></h4>
                {% if libro.libro %}
                    <img src="{{ libro.libro.portada.url }}">
                    <br><br>
                    <hr>
                {% endif %}
        {% empty %}
            <p>No hay libros por mostrar.</p>
        {% endfor %}
    
</body>
</html>